body, html, div, header, main, footer, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 280px;
    background: url('bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background: #00000082;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

footer {
    background: #00000082;
    min-height: 60px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
}

footer p {
    padding: 5px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.players_container {
    width: 100%;
    max-width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.players_container .player {
    width: 150px;
    height: 50px;
    background: #000000b0;
    color: #fff;
    border-radius: 10px;
    border: 3px solid transparent;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .3s linear;
}

.player.selected {
    border-color: white;
}

.player_disc_color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.player_disc_color.color--red{
    background: red;
}

.player_disc_color.color--black{
    background: black;
}



.container {
    width: 100%;
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* background: linear-gradient(180deg, #01768d, #9b9b9b,#9b9b9b,#9b9b9b, #9b9b9b, #9b9b9b, #9b9b9b); */
    background: url("wood.jpeg");
    background-size: cover;
    position: relative;
    border-radius: 4px;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    border: 6px solid #8e614f;
    box-shadow: 0px 8px 8px 4px #0000008a;
    margin: 0 10px;
}



.container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('overlay.png');
    background-size: 100% 308px;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
    filter: hue-rotate(345deg) drop-shadow(0px -4px 5px black);
    box-shadow: inset 0 0 9px 0px #393939;
}

.column {
    width: calc(100% / 7);
    height: calc(100% - 80px);
    box-shadow: inset 0 0 4px 1px #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

@keyframes turn_switch_black {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
}

@keyframes turn_switch_red {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
}

.red_turn::before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% / 7);
    top: calc(-115% / 7 );
    border-radius: 50%;
    background: #da1010;
    box-shadow: inset 0 0 1px 5px #4e282857, inset 0 0 18px 9px #18181885;
    opacity: 0;
    pointer-events: none;
    animation: turn_switch_red .3s 1 ease-in;
}

.red_turn:hover {
    background: #6b000096;
}

.red_turn:hover::before{
    opacity: 1;
}

.black_turn, .red_turn {
    transition: background .3s ease;
}

.black_turn::before {
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% / 7);
    top: calc(-115% / 7 );
    left: 3px;
    border-radius: 50%;
    background: black;
    box-shadow: inset 0 0 1px 5px #3c3c3c57, inset 0 0 18px 9px #292929;
    opacity: 0;
    pointer-events: none;
    animation: turn_switch_black .3s 1 ease-in;
}

.black_turn:hover {
    background: #00000091;
}

.black_turn:hover::before {
    opacity: 1;
}

@keyframes dropdisc {
    from {
        transform: translateY(-500px);
    }
}

.column > :first-child{
    animation: dropdisc .3s 1 linear;
}

.disc {
    width: calc(100%);
    height: calc(100% / 6);
    border-radius: 50%;
    box-shadow: inset 0 0 1px 5px #4e282857, inset 0 0 18px 9px #18181885;
}



/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 500px) {
    .container {
        height: 500px;
    }

    .container::after {
        background-size: 100% 408px;
    }

    .column {
        height: calc(100% - 90px);
    }

}
